@media (min-width:481px) {
	.text {
		font-size: 35px;
	}
}
@media (min-width:641px) {
	.text {
		font-size: 45px;
	}
}
@media (min-width:961px) {
	.text {
		font-size: 55px;
	}
}
@media (min-width:1025px) {
	.text {
		font-size: 65px;
	}
}
@media (min-width:1281px) {
	.text {
		font-size: 75px;
	}
}